/config/config/*
!/config/config/README.md
!/config/config/startCfg.yaml
/components/models/cmd.js
/resources/user_functions.json
/components/models/sandbox/context
/components/models/sandbox/context.fn
node_modules